<!--
  author: abhishek goswami (hiro)
  abhishekg785@gmail.com

  template for having access to available channels and to create own channel for discussions
-->

<html>
<head>
  <title>Channels</title>
  <style>
    #createChannelForm{
      display: none;
    }
  </style>
</head>
<body>
  <% channels.forEach(function(channel){ %>
    <a href = '/channel/<%= channel %>'><%= channel %></a><br/>
  <% }) %>
  <h1></h1>
  Available channels<br/>
  <button id = 'channelButton'>Create your own channel</button><br/>
  <form id = 'createChannelForm' method = 'post'>
    <input type="text" name = 'channelName' id = 'channelName' placeholder="Enter Channel Room"/><br/>
    <input type="text" name = 'channelDesc' id = 'channelDesc' placeholder="Give Channel Description"/><br/>
    <input type="submit" id = 'createChannel' />
  </form>
<% include footer.html %>
<script>
  var channelButton = $('#channelButton'),
      createChannelForm = $('#createChannelForm');
  channelButton.on('click', function(){
    createChannelForm.toggle();
  });
</script>
</body>
</html>
