<!--
  author: abhishek goswami (hiro)
  abhishekg785@gmail.com

  channel_view.html
  the page is used to connect a user to a particular available channels
-->

<html>
<head>
  <title><%= channelName %></title>
</head>
<body>
  <textarea id = 'messageText'></textarea>
  <button id = 'sendMessage'>Send Message</button>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script>
    var channelName = "<%= channelName %>",
        messageText = $('#messageText'),
        sendMessage = $('#sendMessage');

    var Functions = {
      socketConnect : function(channelName){
        return io('localhost:3000', {
          query : 'channelName=' + channelName
        });
      }
    }

    var socket = Functions.socketConnect(channelName);
    sendMessage.on('click', function(){
      messageText = $('#messageText').val();
      if(messageText == ''){
        alert('meessage is required');
      }
      else{
        socket.emit('new channel message', {'messageText' : messageText});
      }
    });

    socket.on('new channel message', function(data){
      console.log(data);
    });
  </script>
</body>
</html>
