<div id = 'commandView'>
  <div id = 'closeCommandView'>Close</div>
  <div id = 'commandViewHeading'><h1>Commands :)</h1></div>
  <div id = 'commandList'>
    <ul>
      <li><h3>Commands should start with /</h3></li>
      <li>
        <h3> /swish  &nbsp;"username"  &nbsp;"message" : To send a private message to the user "username". </h3>
      </li>
      <li><h3>/join "name of the channel" : To join a given channel.</h3></li>
      <li><h3>@username : To point out a specific user in the channel to ask question or queries. for eg : @abhishek wil point out abhishek in the channel.</h3> </li>
      <li><h3>More to come :)</h3></li>
    </ul>
  </div>
</div>
