<!--
  author:abhishek goswami
  abhishekg785@gmail.com

  main.html
-->
<html>
	<head>
		<title>Schmooze:Global Chat</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="/css/chatResponsive.css" />
	</head>
  <body>
		<% include messageView.html %>
		<% include commandViewTemplate.html %>
    <section id = 'chatArea'>
			<div id = 'showChannelSlide'>
				>
			</div>
			<div id = 'showUserSlide'>
				<
			</div>
			<div id = 'chatHeading'>
				Global Chat Platform : Everything you message here will be received by each online users, So use it for broadcasting ,etc :)
			</div>
			<div id = 'chatDisplay'>
			</div>
    </section>
    <section id = 'onlineUserArea'>
			<div id = 'onlineUserHead'>Online Users</div>
			<div id = 'usersDisplay'>
			</div>
    </section>
    <section id = 'channelArea'>
			<div id = 'channelHeading'>
				<h2><%= username %></h2>
			</div>
			<div id = 'channelDisplay'>
				<span id = 'channelListHeading'>Available Channels(<%= channels.length %>)</span>
				<div id = 'channelList'>
					<% channels.forEach(function(channel){ %>
						<span><a href = '/channel/<%= channel.channelName %>'><%= channel.channelName %></a></span>
					<% }); %>
				</div>
				<% include channelViewTemplate.html %>
			</div>
    </section>
    <input id = 'messageText' type = 'text' placeholder="Type Message here..."/>
		<div id = 'sendMessage'>POST</div>
		<input type = 'hidden' value = "<%= username %>" id = 'loggedUser'/>
  </body>
  <% include footer.html %>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script>
	    var socket = io.connect();
	</script>
	<script src = '/js/privateMessageHandler.js'></script>
	<script src = '/js/globalChat.js'></script>
	<script src = '/js/channel/channelList.js'></script>
	<script src = '/js/channel/chatResponsive.js'></script>
	<script src = '/js/channel/shared.js'></script>
</html>
