<!--
  author:abhishek goswami
  abhishekg785@gmail.com

  main.html
-->
<html>
	<head>
		<title>Schmooze:Global Chat</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
  <body>
		<% include messageView.html %>
    <section id = 'chatArea'>
			<div id = 'chatHeading'>Global Chat Platform : Everything you message here will be received by each online users, So use it for broadcasting purposes :)</div>
			<div id = 'chatDisplay'>
			</div>
    </section>
    <section id = 'onlineUserArea'>
			<div id = 'onlineUserHead'>Online Users</div>
			<div id = 'usersDisplay'></div>
    </section>
    <section id = 'channelArea'>
			<div id = 'channelHeading'>
				<h2><%= username %></h2>
			</div>
			<div id = 'channelDisplay'>
				<span id = 'channelListHeading'>Available Channels(<%= channels.length %>)</span>
				<div id = 'channelList'>
					<% channels.forEach(function(channel){ %>
						<span><a href = '/channel/<%= channel.channelName %>'><%= channel.channelName %></a></span>
					<% }); %>
				</div>
				<span><a href = '/logout'>Logout</a></span>
				<span onclick="privateMessageHandlerFunctions.showMessageViewToDisplayMessages()">Messages</span>
			</div>
    </section>
    <input id = 'messageText' type = 'text' placeholder="Type Message here..."/>
		<div id = 'sendMessage'>Send</div>
  </body>
  <% include footer.html %>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script>
	    var socket = io.connect();
	</script>
	<script src = '/js/privateMessageHandler.js'></script>
	<script src = '/js/globalChat.js'></script>
	<script>
	  var channelListHeading = $('#channelListHeading'),
		    channelList = $('#channelList');
	  channelListHeading.click(function(){
			channelList.toggle(function(){
				channelList.css('height', '40%');
			});
		});
	</script>
</html>
