<!--
  author:abhishek goswami
  abhishekg785@gmail.com
-->
<html>
<head>
  <title>Chat:Main</title>
</head>
<body>
  <h1>h3ELLO:<%= username %></h1>
  <h3>Online Users</h3>
  <div id = 'onlineUsers'>
  </div>
  <div id = 'chatSection'>
    <textarea id = 'messageText'></textarea>
    <button id = 'sendMessage'>Send message</button>
    <div id = 'groupMessages'>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script>
    var socket = io.connect(),
        onlineUsers = $('#onlineUsers'),
        chatSection = $('#chatSection'),
        sendMessage = $('#sendMessage'),
        messageText = $('#messageText'),
        groupMessages = $('#groupMessages');

    socket.on('update users', function(data){
      onlineUsers.empty();
      users = data.users;
      for(var i = 0 ; i < users.length; i++){
        console.log(users[i]);
        var list = users[i] + '<br/>';
        onlineUsers.append(list);
      }
    });

    sendMessage.on('click', function(e){
      var messageText = $('#messageText').val();
      if(messageText == ''){
        alert('message field is required');
      }
      else{
        socket.emit('new group message', {'messageText':messageText});
      }
    });

    socket.on('new group message', function(data){
      var sender = data.sender,
          messageText = data.messageText;
          item = sender + ':' + messageText + '<br/>';
      groupMessages.append(item);
    });
  </script>
</body>
</html>
