<section id = 'messageView'>
  <div id = 'messageViewHeading'></div>
  <div id = 'messageViewCancel'><h3>CANCEL</h3></div>
  <div id = 'messageViewContent'>
    <div id = 'messageViewMessages'>
    </div>
  </div>

  <!-- this portion is for sending private message to users -->
  <div id = 'sendPrivateMessageView'>
    <div id = 'privateMessageReceiverInfo'></div>
    <input type="text" id = 'privateMessageText' placeholder="Enter message here(max 100 chars)" required maxlength="100" />
    <div id = 'sendPrivateMessageButton'>Send</div>
  </div>
</section>
