<!DOCTYPE HTML>
<!--
  author: abhishek goswami
  abhishekg785
-->
<html>
	<head>
		<title>Schmooze:Login</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
			<section id="sidebar">
      <div class = 'inner'>
        <nav>
          <ul>
						<li><a class = 'scrolly active' href = '/login'>Login</a></li>
            <li><a href = '/'>Start Page</a></li>
          </ul>
        </nav>
      </div>
			</section>
			<div id="wrapper">
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
              <span style="color:orange">
                <% if(!message){ %>
                  Nickname is taken at the moment!  Try with another nickname
                <% } %>
              </span>
							<h1>Login</h1>
              <p>No password required, Just have a nickname !</p>
              <form method="post">
                <input type="text" name = 'username' required placeholder="Have a Nickname :) "/><br/>
                <input type="submit" name = 'sendData'/>
              </form>
						</div>
					</section>
		<% include mainFooter.html %>
	</body>
</html>
