<!DOCTYPE HTML>
<!--
  author: abhishek goswami
  abhishekg785
-->
<html>
	<head>
		<title>Schmooze</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>

			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#one">Who we are</a></li>
							<li><a href="#two">What we do</a></li>
							<li><a href="#three">Get in touch</a></li>
						</ul>
					</nav>
				</div>
			</section>

			<div id="wrapper">

					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Schmooze</h1>
							<p>A Real time Multi-Platform, Multi-Channel Online Discussion platform for Students<br/>"Just create a channel or connect to an existing channel and "Teach or Learn"
              </p>
							<ul class="actions">
								<li><a href="/login" class="button scrolly">Start</a></li>
							</ul>
						</div>
					</section>

					<section id="one" class="wrapper style2 spotlights">
						<section>
							<div class="content">
								<div class="inner">
									<h2>We have a large team ! Our team size is '1' :p</h2>
									<p>
										Currently i am the only person on this ship!<br/>
										I am a retarded engineer Undergrad of National Institute of Technology, Kurukshetra.<br/>
										And Yes! <code>i = <a href = 'https://in.linkedin.com/in/abhishek-goswami-591541b1
'>Abhishek Goswami</a></code>
									</p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<div class="inner">
									<h2>" What is the most important thing in the world I could be working on right now, and if you are not working on that why aren’t you? "</h2>
									<p>
										Be a part of the team :)<br/>
										Help in making the project better, as seriously i have written a hell crap of code out there :p
									</p>
									<ul class="actions">
										<li><a href="#three" class="button">Ping Me!</a></li>
									</ul>
								</div>
							</div>
						</section>
					</section>

					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>What we do</h2>
							<p>Its time for some Bragging ! So let's get started ...</p>
							<div class="features">
								<section>
									<h3>Real Time Chat</h3>
									<p>You can chat in real time. No browser loading and all that crap!</p>
								</section>
								<section>
									<h3>Create Channel</h3>
									<p>Basically channel is a kind of room where the discussion takes place. So create a channel, share the link of the channel with friends and start discussion.</p>
								</section>
								<section>
									<h3>Private Chat</h3>
									<p>Yo can do private chat with others.</p>
								</section>
								<section>
									<h3>File Sharing</h3>
									<p>Share files among the  channels or in private.</p>
								</section>
								<section>
									<h3>Open Source</h3>
									<p>Anyone is free to look into and modify the code and contribute to the project.</p>
								</section>
								<section>
									<h3>WebRTC Support</h3>
									<p><i>Coming soon!</i></p>
								</section>
							</div>
							<ul class="actions">
								<li><a href="https://github.com/abhishekg785/Schmooze" class="button">Fork the project!</a></li>
							</ul>
						</div>
					</section>

					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Get in touch</h2>
							<p>Hi Friends! I am <a href = 'https://in.linkedin.com/in/abhishek-goswami-591541b1
'>Abhishek Goswami</a>, the creator of this project :).<br/>I have open sourced the project.The project is available on Github <a href = 'https://github.com/abhishekg785/Schmooze'>Link</a>.Feel free to contribute to the project on Github.<br/>
								Just leave a message here! and i promise that i will reply as soon as possible :)
							</p>
							<div class="split style1">
								<section>
									<form method="post" action="#">
										<div class="field half first">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="5"></textarea>
										</div>
										<ul class="actions">
											<li><a href="" class="button submit">Send Message</a></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>H-10, Room-No: 337</h3>
											<span>NIT, Kurukshetra<br />
											Thanesar, Haryana, 136119<br />
											India</span>
										</li>
										<li>
											<h3>Email</h3>
											<p>abhishekg785@gmail.com</p>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>
				</div>
		<% include mainFooter.html %>
  </body>
</html>
