  @media (max-width : 1025px){
    #channelArea{
      display: none;
    }

    #onlineUserArea{
      display: none;
    }

    #chatArea{
      width : 100%;
      left: 0px;
    }

    #chatHeading{
      height: 40px;
      font-size: 10px;
      text-align: center;
    }

    #chatDisplay{
      top:40px;
      height: 89%;
    }

    #chatDisplay li{
      font-size: 2.2em;
    }

    #messageText{
      height: 35px;
      font-size: 1em;
    }

    #sendMessage{
      font-size: 1em;
      height: 37px;
    }

    #showChannelSlide{
      height: 40px;
      display: block;
      width: 5%;
      padding: 5px;
      cursor: pointer;
    }

    #showUserSlide{
      display: block;
      height: 40px;
      width: 5%;
      padding: 5px;
      cursor: pointer;
    }

    #chatHeading{
      left : 5%;
      width: 90%;
    }
  }

  @media (max-width : 500px){
    #chatDisplay{
      top:55px;
      overflow-y: auto;
      height: 84%;
    }

    #chatHeading{
      font-size: 9.5px;
      height: 55px;
      width : 84%;
      left: 8%;
    }

    #sendMessage{
      display: none;
    }

    #messageText{
      width: 100%;
    }

    #showChannelSlide{
      height: 55px;
      display: block;
      width: 8%;
      padding-top: 12px;

    }

    #showUserSlide{
      display: block;
      height: 55px;
      width: 8%;
      padding-top: 12px;
    }
  }
